:root {
  --header-nav-color: #2E2F42;
  --main-text-color: #434455;
  --title-color: #2E2F42;
  --brand-color: #4D5AE5;
  --active-element-color: #404BBF;
  --active-element-footer: #31D0AA;
  --accent-color: #E7E9FC;
  --main-bg: #ffffff;
  --light-bg: #F4F4FD;
  --dark-bg: #2E2F42;
  --dark-bg-title-color: #ffffff;
  --dark-bg-element-color: #F4F4FD;
  --default-color-clients: #8E8F99;

  /* --outline: 2px solid red; */
}

body {
  font: 400 16px/1.5 'Roboto', sans-serif;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  background-color: var(--main-bg);
}

/*
  ******************************
   —————————— DEFAULT ——————————
  ******************************
*/
h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
}

.title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}

.subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.title,
.subtitle {
  color: var(--title-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1158px;
  margin-inline: auto;
  padding-inline: 15px;
}

/*
  ******************************
   —————————— HEADER ——————————
  ******************************
*/

.header {
  border-bottom: 1px solid var(--accent-color);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header .container {
  display: flex;
  justify-content: space-between;
}

.logo {
  font: 800 18px/1.17 'Raleway', sans-serif;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo .accent {
  color: var(--brand-color);
}


.nav {
  display: flex;
  align-items: center;
  gap: 76px;
  font-weight: 500;
  color: var(--header-nav-color);
}

.header .list {
  display: flex;
  gap: 40px;
}
.current {
  position: relative;
}
.current::after {
  content: '';
  position: absolute;
  bottom: -1px;
  right: 0;
  width: 100%;
  height: 4px;
  background-color: var(--active-element-color);
  border-radius: 2px;
}

.contacts {
  font-style: normal;
}

:where(.site-nav, .contacts) .link {
  display: inline-block;
  padding: 24px 0;
}

:where(.site-nav, .contacts) .link:is(:hover, :focus) {
  color: var(--active-element-color);
}

/*
  ******************************
   —————————— MAIN ——————————
  ******************************
*/

/*
  ******************************
   —————————— HERO ——————————
  ******************************
*/

.hero {
  max-width: 1440px;
  margin-inline: auto;
  padding: 188px 0;
  text-align: center;
  background-color: var(--dark-bg);
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/studio/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero .title {
  max-width: 496px;
  margin-inline: auto;
  margin-bottom: 48px;
  font-size: 56px;
  line-height: 1.07;
  color: var(--dark-bg-title-color);
}

.hero .btn {
  padding: 16px 32px;
  min-width: 169px;
  text-transform: capitalize;
  color: var(--dark-bg-title-color);
  background-color: var(--brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

}

.hero .btn:is(:hover, :focus) {
  background-color: var(--active-element-color);
}

/*
  ******************************
   —————————— ABOUT ——————————
  ******************************
*/

:where(.about, .work, .team) .list {
  display: flex;
  gap: 24px;
}

.about {
  padding: 120px 0;
}

.about .item {
  flex-basis: calc((100% - 24px * 3) / 4);
}

.thumb {
  height: 112px;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-bg);
  border-radius: 4px;
}

.about .subtitle {
  margin-bottom: 8px;
}

/*
  ******************************
   —————————— WORK ——————————
  ******************************
*/
.work {
  padding-bottom: 120px;
}

/*
  ******************************
   —————————— TEAM ——————————
  ******************************
*/

.team {
  padding: 120px 0;
  background-color: var(--light-bg);
}

.team-item {
  background-color: var(--main-bg);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-item .desc {
  padding: 32px 16px;
  text-align: center;
}

.team-item .subtitle {
  margin-bottom: 8px;
}

.team-item .text {
  margin-bottom: 8px;
}

.social-links {
  justify-content: center;
}

.social-link {
  width: 40px;
  height: 40px;
}

.social-link .link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--dark-bg-element-color);
  background-color: var(--brand-color);
  border-radius: 50%;
}

.social-link .link:is(:hover, :focus) {
  background-color: var(--active-element-color);
}

.social-link .social-icon {
  fill: currentColor;
}

/*
  ******************************
   —————————— CLIENTS ——————————
  ******************************
*/
.clients {
  padding: 120px 0;
}

.clients .list {
  display: flex;
  gap: 24px;
}

.client {
  height: 88px;
  flex-grow: 1;
}

.client .link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--default-color-clients);
  border: 1px solid var(--default-color-clients);
  border-radius: 4px;
}

.client .icon {
  fill: currentColor;
}

.client .link:is(:hover, :focus) {
  color: var(--active-element-color);
  border-color: var(--active-element-color);
}

/*
  ******************************
   —————————— FOOTER ——————————
  ******************************
*/

.footer {
  padding: 100px 0;
  color: var(--dark-bg-element-color);
  background-color: var(--dark-bg);
}

.footer .container {
  display: flex;
}

.slogan {
  margin-right: 120px;
}

.slogan .logo {
  margin-bottom: 16px;
  display: inline-block;
}

.slogan .text {
  max-width: 264px;
}

.footer .caption {
  margin-bottom: 16px;
  font-weight: 500;
  color: var(--dark-bg-title-color);
}

.social-media .social-links {
  display: flex;
  gap: 16px;
}

.social-media .link:is(:hover, :focus) {
  background-color: var(--active-element-footer);
}

/*
  ******************************
  ————————— PORTFOLIO —————————
  ******************************
*/
.portfolio {
  padding: 96px 0 120px;
}

.filter {
  margin-bottom: 72px;
  display: flex;
  justify-content: center;
  gap: 24px;
}

.filter .btn {
  padding: 12px 24px;
  color: var(--brand-color);
  background-color: var(--light-bg);
  border: 1px solid var(--accent-color);
  border-radius: 4px;
}

.filter .btn:is(:hover, :focus) {
  color: var(--dark-bg-title-color);
  background-color: var(--active-element-color);
  border-color: transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.work-card {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.card .link {
  display: block;
}

.card .link:is(:hover, :focus) {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.work-card .desc {
  padding: 32px 16px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}

.work-card .subtitle {
  margin-bottom: 8px;
}